# =============================================
# Keeper — .env
# =============================================

# Токен бота
BOT_TOKEN=123456789:ABC

# Redis
REDIS_HOST=keeper_redis
REDIS_PORT=6379
REDIS_PASSWORD=SECRET_PASS
REDIS_DB=0

# TTL хранения сообщений
MESSAGE_TTL=86400
